nav{
  font-family: $Century;
  font-weight: bold;
  font-size: $medium;

}

h1{
  font-family: $Century;
  font-weight: $light;
  font-size: $x-large;

}

h3,h5{
  font-family: $Tahoma;
  font-weight: bold;
  font-size: $large;
}

h4{
  font-family: $Tahoma;
  font-weight: $light;
  color: $Grey;
  font-size: $medium;
}

p{
  color: $BlackGrey;
  font-size: $small;
}
