
// Tipografías//
$Century: Century Gothic;
$Tahoma: Tahoma;

//Font Weight
$italic: 700;
$light: 300;
$black: 400;

//Font Sizes
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 12px;

//Colors
$Grey: #848484;
$BlackGrey: #585858;
